APP_NAME="Internet Crawler"
APP_ENV=local
APP_KEY=base64:yRz2W75wHnBHJ0spcckevnTSmhI/7R5H6JK0ScCBYTs=
APP_DEBUG=true
APP_URL=http://internet-crawler.local

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=internet_crawler
DB_USERNAME=internet_crawler
DB_PASSWORD=internet_crawler

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
